<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light h-100">
    <a class="navbar-brand" href="/">Send Messages</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button class="right"><a class="nav-item nav-link" href="/send_messages/new">Nexmo</a></button>
        <button><a class="nav-item nav-link" href="/send_emails/new">Sendgrid</a></button>
      </div>
    </div>
  </nav>
</header>

<main>
    <div class="container">
       <a href="/send_messages/new"> <button class="switch">Nexmo SMS</button> </a>
       <a href="/send_emails/new"><button class="switch">Sendgrid Email </button> </a>
    </div>
</main>
